footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
/*
.buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  button {
    font-size: 4rem;
  }
  
  .buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .buttons button img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
*/
  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    transition: background-color 0.2s;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    background-color: #fff;
    transition: transform 0.2s;
}

input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}
